/**********************************PRESENTATION******************************************************************/
#presentation {
    font-family: serif;
    text-align: center;
    margin-bottom: 2rem;
    height: 200px;
}
#presentation div{
    padding: 60px 0;
}
#presentation .titulo{
    font-size: 40px;
    color: #800080;
    font-style: normal;
    font-weight: bold;
}

#presentation .segundotitulo{
    color: whitesmoke;
    font-style: normal;
    font-weight: bold;
}


/**********************************************************MEDIA CUERY***********************************************************************************/


@media (min-width:500px) {
    #presentation {
        height: 350px;
    }
    #presentation div{
        padding: 80px 0;
    }
    #presentation .titulo{
        font-size: 70px;
        color: #800080;
        font-style: normal;
        font-weight: bold;
    }
    
    #presentation .segundotitulo{
        font-size: 50px;
        color: whitesmoke;
        font-style: normal;
        font-weight: bold;
    }
    #my-imag {
        margin-top: 2rem;
        width: 275px;
        height: 275px;
    }

}

@media(min-width: 780px){
    #presentation {
        height: 550px;
    }
    #presentation div{
        padding: 140px 0;
    }
    #presentation .titulo{
        font-size: 120px;
        color: #800080;
        font-style: normal;
        font-weight: bold;
    }
    
    #presentation .segundotitulo{
        font-size: 70px;
        color: whitesmoke;
        font-style: normal;
        font-weight: bold;
    }
    #my-imag{
        width: 300px;
        height: 300px;
    }
}
