/***************************************ABOUT ME***************************************************************/
#About-me {
    background-image: url(../img/baner.png);
    background-size: cover;
    background-position: center center;
    text-align: center;
    width: 100%;
}
#my-imag {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border-radius: 10rem;
}
.About-me-title {
    color: #99C4C8;
    font-size: 2.5rem;
    text-align: center;
}

.About-me-content-p {
    text-align: center !important;
    margin-top: -1.5rem;
    padding: 1rem;
}

.About-me-p {
    color: #DBDFFD;
    font-size: 12px;
    font-family: monospace;
    font-weight: lighter;
    line-height: 20px;
}
/**********************************************************MEDIA CUERY***********************************************************************************/


@media (min-width:500px) {
    .About-me-who-iam {
        margin-top: 3.5rem;
    }

    .About-me-title {
        font-size: 3rem;
    margin: -3rem 0px 0px 0px;

    }

    .About-me-content-p {
        padding: 1.5rem 3rem;
    }

    .About-me-p {
        font-size: 15px;
        line-height: 22px;
    }
}

@media(min-width:780px){
    #About-me {
        height: 550px;
    }
    #my-imag {
        margin-top: 40px;
        width: 300px;
        height: 300px;
    }
    .About-me-title{
        font-size: 3.5rem;
    }
    .About-me-content-p{
        padding: 1.5rem 6rem;
    }
    .About-me-p{
        font-size: 16px;
        line-height: 23px;
    }
}