/***********************************MENU***********************************************************/
header {
    position: fixed;
    background: linear-gradient(to right,#094293, #800080);
    width: 100%;
    top: 0px;
    padding: 0px 10px;
    height: 60px;
}

.contemenu {
    display: flex;
    justify-content: space-between;
}

.logo,
.Menu {
    z-index: 2;
}

.Menu {
    background: none;
    border: none;
}

.Logo{
    margin-top: -5px;
    margin-left: 20px;
    height: 65px;
}

.btnMenu {
    height: 30px;
    margin: 5px;
    cursor: pointer;
}

.navegation-pag {
    position: fixed;
    background: linear-gradient(to right,#094293, #800080);
    margin-top: 40px;
    text-align: center;
    padding: 0px;
    top: -1000%;
    left: 0;
    width: 100%;
    transition: 0.1s all;

}

.navegation-pag ul li {
    padding: 20px 0;
    cursor: pointer;
}

.navegation-pag ul li a {
    color: white;
}

.navegation-pag ul li a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.active {
    top: 0;
}

/**********************************************************MEDIA CUERY   500px***********************************************************************************/

@media (min-width:500px) {

    .contemenu {
        display: flex;
        max-width: 997px;
        margin: 0 auto;
    }

    .Menu {
        display: none;
    }

    .navegation-pag {
        background: none;
        position: initial;
        border: none;
        margin: auto 0px;
        transition: none;
        height: 44px;
    }

    .navegation-pag ul {
        display: flex;
        height: 44px;
        align-items: center;
        float: right;
    }

    .navegation-pag ul li {
        padding: 0px 10px;
        cursor: pointer;
    }

}

@media (min-width: 780px) {
    .btn {
        font-size: 18px;
    }

    .navegation-pag ul li {
        padding: 0px 14px;
    }

    .logo {
        padding: 0;
    }

}