/**********************************PRESENTATION******************************************************************/
#presentation {
    font-family: serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#presentation .titulo{
    font-size: 45px;
    color: #800080;
    font-style: normal;
    font-weight: bold;
}
#presentation .segundotitulo{
    color: whitesmoke;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
}


/**********************************************************MEDIA CUERY***********************************************************************************/


@media (min-width:500px) {
    #presentation .titulo{
        font-size: 70px;
        color: #800080;
        font-style: normal;
        font-weight: bold;
    }
    
    #presentation .segundotitulo{
        font-size: 50px;
        color: whitesmoke;
        font-style: normal;
        font-weight: bold;
    }
    #my-imag {
        margin-top: 2rem;
        width: 275px;
        height: 275px;
    }

}

@media(min-width: 780px){
    #presentation .titulo{
        font-size: 100px;
        color: #800080;
        font-style: normal;
        font-weight: bold;
    }
    
    #presentation .segundotitulo{
        font-size: 70px;
        color: whitesmoke;
        font-style: normal;
        font-weight: bold;
    }
    #my-imag{
        width: 300px;
        height: 300px;
    }

    @media(min-width: 900px){
        #presentation .titulo{
            font-size: 120px;
            color: #800080;
            font-style: normal;
            font-weight: bold;
        }
        
        #presentation .segundotitulo{
            font-size: 70px;
            color: whitesmoke;
            font-style: normal;
            font-weight: bold;
        }
        #my-imag{
            width: 300px;
            height: 300px;
        }
}
